.card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: whitesmoke;
}

.parent {
  position: relative;
}

.child {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 40%);
  width: 50vw;
}